@font-face {
    font-family: 'im_fell_double_picaregular';
    src: url('imfedprm28p-webfont.woff2') format('woff2'),
         url('imfedprm28p-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('lato-regular-webfont.woff2') format('woff2'),
         url('lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  box-sizing: border-box;
  text-decoration: none;
}

html {
}

body {
}

header img {
  height: 100px;
  width: auto;
  vertical-align: middle;
  float: left;
}

header img:nth-of-type(2){
  height: 100px;
  width: auto;
  vertical-align: middle;
  float: right;
}

header {
  text-align: center;
  padding: 1.5em 0;
}

header:after {
  content: "";
  clear: both;
}

h1 {
  font-family: 'im_fell_double_picaregular';
  font-size: 2.3em;
  letter-spacing: 1px;
  color: #e60000;
  }

h2, h3 {
  font-family: 'im_fell_double_picaregular';
}

ul, li {
	list-style-type: none;
  margin: 0; 
  padding: 0;
	text-decoration:none;
}

a {
  color: #00b300;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background:  #e60000;
  border-radius: 18px 18px 0 0;
  text-align: center;
}

.navbar li {
  padding: .8em .0;
  transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
}

.navbar > li:hover {
  background-color: #00b300;
  cursor: pointer;
}

.navbar li:first-child {
  color: white;
  border-radius: inherit;
}

.navLinkProper {
  display: none;
}

.expandedNav {
  display: flex;
  transition: display 0.2s;
  -webkit-transition: display 0.2s;
  flex-direction: column;
}

.navbar a {
  color:white
}

p {
  line-height:1.5;
  font-family: 'latoregular';
}

.italics {
  font-style: italic;
  padding-right: 0.18em;
}

main {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
}

article {
  margin-bottom: 3em;
}

aside {
  margin-bottom: 3em;
  text-align: center;
}

aside img {
  display: block;
  width: 235px;
  height: auto;
  margin: 0 auto;
}

aside p {
  font-size: .9em;
  text-align: left;
}

.mainContent {
  flex:9.5;
  padding: 1em .5em;
}

.sideContent {
  flex:2.5;
  padding: 1em .5em;
  flex-wrap: wrap;
  background-color:  #f2f2f2;
  border-radius: 8px;
}

button {
  margin-left: 1em;
}

.videoHidden {
  display: none;
  position: relative;
}

.videoDisplay {
  display: block;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
}

iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 1em;
   width: 100%;
   /* max-width: 600px; */
}

footer {
  font-family: 'im_fell_double_picaregular';
  padding: 1em;
  color: white;
  width: 100%;
  margin: 0 auto;
  background:  #e60000;
  border-radius: 0 0 18px 18px;
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 37.5em) {  
}
	
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 37.5em) {  
  header {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }
  
  .navbar {
    width: 96%;
    flex-direction: row;
  }

  .navLinkProper {
    display: inline-block;
  }  

  .navbar li:first-child {
    display: none;
  }    
  
  .navbar li {
    padding: .8em .0;
    transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    flex-basis: 7em;
  }
  
  .navbar li:nth-of-type(2):hover{
    border-radius: 18px 0 0 0;
  }  

   main {
     width: 96%;
   }
   
   .mainContent {
     padding-left: 1em;
     padding-right: 1em;     
   }
   
   .sideContent {
     padding-left: 1em;
     padding-right: 1em;
   }
   
  aside img {
    width: 235px;
    height: auto;
  }   
	
  iframe {
    width: 85%;
    height:85%
  }   
	
  footer {
    width: 96%;  
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 48em) {
  html {
    background-image: url("christmasBackground2.jpg");
    background-size: cover;
  }
  
  body {
    width: 90%;
    margin: 2em auto;
    border-radius: 10px;
    background: white;
    padding-bottom: 1em;
  }  

  aside img {
    width: 253px;
    height: auto;
  }  
  
  iframe {
    width: 80%;
    height:80%
  }     
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 62em) {
  body {
    width: 85%;
  }

  main {
    display: flex;
  }
  
  aside img {
    width: 100%;
    height: auto;
  }	     
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 75em) {
}
